// if you need this file, copy paste:
// @use '@/assets/scss/base/color';
// access the variables by typing color.$blue

$purple: #5643A3;

$blue: #1B2E72;

$dark-blue: #151533;

$dark-grey: #222237;

$grey: #ACACAC;

$white: #F2F2F2;

$red: #E72F2F;

$gradient:linear-gradient(135deg, #5643A3 0%, #1B2E72 100%);