@use '@/assets/scss/base/color.scss';

.countdown-container {
  border-radius: 10px;
  display:flex;
  margin-top:20px;
  cursor:pointer;
  align-items: center;
  justify-content: space-between;
}

.display-countdown {
  font-size:0.9em;
  color:color.$white;

  .display-countdown__time {
    font-weight: bold;
  }
  .display-countdown__header {
    padding-top:10px;
    margin:0;
    font-weight: normal;
    span {
      color:color.$dark-blue;
    }
  }
}