@use '@/assets/scss/base/color';
@use '@/assets/scss/base/typography';

.modalOverlay{
    position:fixed;
    left:0;
    top:0;
    z-index: 999;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.6);
  }
  .infoBox{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius:5%;
    background-color: white;
    font-family:typography.$baloo2;
    overflow: hidden;
    width:275px;
    padding-bottom:45px;
    &__text{
        background-color:color.$dark-blue;
        margin:0;
        font-size:1.3em;
        padding:2% 10%;
        span{
            font-weight:bold;
        }
    }
    &__select{
        width:100%;
        overflow: hidden;
        border:none;
        padding:10% 0;
        &:focus{
            outline: none;
        }
    }
    &__option{
        width:88%;
        padding:2% 2% 2% 10%;
        font-weight: bold;
        color:color.$dark-blue;
        font-size:1.3em;
        &:checked{
            background-color:color.$dark-blue;
            color:white;
        }
        &:focus{
            background-color:color.$dark-blue;
            color:white;
        }
    }
    &__addBtn{
        position:absolute;
        left:10%;
        bottom:20px;
        font-family:typography.$baloo2;
        padding:5px 20px;
        font-size: 1em;
    }
    &__cancelBtn{
        position:absolute;
        right:10%;
        bottom:20px;
        border:none;
        border-radius:3px;
        padding:5px 20px;
        font-family:typography.$baloo2;
        font-size: 1em;
    }
}

// Desktop
@media screen and (min-width: 1024px){
    .infoBox{
        width:475px;
        &__select{
            padding:5% 0;
        }
        &__addBtn{
            left:20%;
        }
        &__cancelBtn{
            right:20%;
        }
    }
}

// tablets
@media screen and (min-width: 768px) and (max-width: 1023px){
    .infoBox{
        width:475px;
        &__select{
            padding:5% 0;
        }
        &__addBtn{
            left:20%;
        }
        &__cancelBtn{
            right:20%;
        }
    }
}

// smartphones
@media screen and (max-width: 768px){

}